{% extends 'baseLoginRegistration.html' %}


{% block title %}Login{% endblock %}



{% block body %}

    <main class="content p-lg-5">




    <div class="container-md ">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <hr>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}

            <input class="btn btn-lg btn-primary" type="submit" value="Login">
               <a href="{% url 'signup' %}">Sign Up</a>
        </form>


    </div>


    </main>
{% endblock %}
